.filmdash-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 75%;
  outline: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.test-background-filmdash {
  position: absolute;
  height: 98.8%;
  width: 99.3%;
  background-color: #cfdde3d3;
  z-index: -1;
  transition: 0.2s ease;
  top: 3.5%;
  left: 2.5%;
}

@media (max-width: 500px) {

  .filmdash-button {
    width: 100%;
  }

}
