.banner-filmdash {
  background-image: url('./photos/projector.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  filter: brightness(70%);
}
