/* .boucle-gauche,
.lunette-deux,
.boucle-droite {
  position: absolute;

}

.lunette-deux {
  top: 30%;
  left: 58%;
}

.boucle-gauche {
  top: 52%;
  left: 56%;
}

.boucle-droite {
  top: 63%;
  left:79%;
}

.test {
  background-color: red;
} */
