.filmdash-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 8vh;
}

/* Banner */

.banner-filmdash h1 {
  font-family: "Yeseva One", serif;
  color: rgb(237, 237, 237);
}

.banner-filmdash h4 {
  color: rgb(237, 237, 237);
  font-family: "Yeseva One", serif;
}

.gap-section {
  display: flex;
  flex-direction: column;
  gap: 18vh;
}

/* ABOUT SECTION */

.about-section {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140vh;
}

.intro-section {
  /* background-color: blue; */
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Title About*/

.about-title p{
  font-weight: 300;
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

/* Content ABOUT SECTION */

.intro-filmdash {
  display: flex;
  gap: 3%;
  height: 55vh;
}

.presentation-picture-filmdash {
  background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.3)), url('./photos/FILMDASH_SCREEN.png');
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 30%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.text-presentation-filmdash {
  /* background-color: rgb(190, 222, 249); */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.begin-presentation-filmdash {
  font-size: 2.3vw;
  font-weight: 200;
  padding: 2%;
}

.begin-presentation-filmdash p {
  margin: 0;
}


/* DEVELOPMENT SECTION */

.development-filmdash {
  /* background-color: cadetblue; */
  display: flex;
  gap: 5%;
  height: 45vh;
}

.development-picture-filmdash {
  background-image: url('./photos/web_work.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%) brightness(0.88);
  clip-path: polygon(0 0, 75% 0%, 100% 21%, 100% 79%, 26% 100%, 0 71%);
}

.development-text-filmdash {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.7vw;
  font-weight: 200;
  margin: 0;
  padding: 0;
  text-align: justify;
  align-items: center;
}

.development-text-filmdash p {
  margin: 0;
}

.border-development-filmdash {
  border: 0.5px black solid;
  width: 45%;
}

/* TECH STACK */

.language-used {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.language-used p {
  font-weight: 300;
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.language-used ul {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin:0;
	padding: 0;
}

.language-used li {
  margin: 0;
  padding: 0;
  width: 10%;
  display: inline;
}

/* FUNCTION SECTION */

.using {
  height: 180vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.function-title-filmdash {
  color: var(--font-color);
  text-align: center;
  margin-bottom: 5%;
}

.every-function-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

/* Title Function*/

.function-title-filmdash p{
  font-weight: 300;
  font-size: 2.5em;
  text-transform: uppercase;
  margin: 0;
}

/* Caroussel settings */

.border-top {
  position: absolute;
}

.border-left {
  position: absolute;
}

.caroussel-container-filmdash {
  position: relative;

}

.border-caroussel-left {
  height: 30%;
  width: 20%;
  border: solid rgb(40, 40, 40) 1px;
  position: absolute;
  border-bottom-width: 0;
  border-right-width: 0;
}

.border-caroussel-right {
  height: 30%;
  width: 20%;
  border: solid rgb(40, 40, 40) 1px;
  position: absolute;
  border-top-width: 0;
  border-left-width: 0;
  top: 70%;
  left: 80%;
}

.separation-function {
  display: flex;
  justify-content: center;

}

.line-separation {
  border: solid black 0.5px;
  width: 20%;
}

.function-filmdash {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
}

.preferences-container,
.selection-container,
.watchlist-container {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.preferences-image,
.selection-image,
.watchlist-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
  filter: brightness(0.7) contrast(1) saturate(0.8);
}

.preferences-container video,
.selection-container video,
.watchlist-container video {
 width: 100%;
 height: 50vh;
 border-radius: 7px;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.preferences-infos,
.selection-infos,
.watchlist-infos {
  font-weight: 300;
  /* background-color: black; */
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: black 1px solid;
  border-radius: 2px;
  padding: 20px;
}

.preferences-infos p,
.selection-infos p,
.watchlist-infos p {
 /* background-color: rebeccapurple; */
 margin: 0;
 text-align: center;
}

.button-filmdash-page {
  /* height: 40vh; */
  margin-bottom: 23vh;
  display: flex;
  justify-content: center;
}
