.general-disposition {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  color: var(--font-color);
}

@media (max-width: 420px) {
  .general-disposition {
    width: auto;
    margin-left: 4.6vh;
    margin-right: 4.6vh;
  }
}
