/* For Laptop */
.home-home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 9%;
}

.home-left {
  display: flex;
  flex-direction: column;
  font-family: 'Yeseva One', serif;
  width: 50%;
  height: 85%;
  color: #1a1818;
  font-size: 1.1vw;
}

.svg-container p {
  font-size: 1.1vw;
}

.home-right {
  display: flex;
  justify-content: end;
  position: relative;
  padding-top: 11%;
  height: 100%;
  width: 70%;
}

.red-square {
  background-color: rgba(255, 101, 101, 0.246);
  display: flex;
  position: absolute;
  height: 30vh;
  width: 16vw;
  left: 70%;
  transition: transform .2s ease-in-out;
  border: 0.5px black solid;
}

.red-square a {
  text-decoration: none; font-family: 'Yeseva One', serif ;
  color: var(--font-color);
  font-size: 2.5vw;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity .2s ease-in-out;
  /* background-color: aliceblue; */

}

.red-square a:hover {
  /* opacity: 1; */
}

.red-square:hover {
  transform: scale(1.1);
}

.blue-square {
  background-color: rgba(109, 180, 255, 0.292);
  position: absolute;
  height: 30vh;
  width: 16vw;
  left: 25%;
  transition: transform .2s ease-in-out;
  border: 0.5px black solid;
  /* z-index: -1; */
}

.blue-square a {
  text-decoration: none; font-family: 'Yeseva One', serif ;
  color: var(--font-color);
  font-size: 2.5vw;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity .2s ease-in-out;
  /* background-color: aliceblue; */

}

.blue-square a:hover {
  /* opacity: 1; */
}

.blue-square:hover {
  transform: scale(1.1)
}

.presentation {
  line-height: 0.9;
  font-size: 5.9em;
  margin: 0;
}

.presentation p {
  margin: 0;
}

.svg-container {
  width: 100%;
  height: 10%;
  stroke: #414141;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.svg-container svg {
  height: 8%;
}

.svg-container p {
  /* padding: 2%; */
  margin: 0;
  line-height: 1.2;
  width: 93%;
  height: 100%;
  display: flex;
  align-items: center;
}

.border-content {
  position: absolute;
  width: 29.2%;
  height: 7.47%;
}

.button-projects {
  height: 100%;
  display: flex;
  align-items: center;
}

/* for phones (max width 420px) */

/* Top */
.home-phone {
  /* background-color: rebeccapurple; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 11vh;
  padding-bottom: 4vh;
  padding-left: 7vw;
  padding-right: 7vw;
}

.home-phone-top {
  /* background-color: red; */
  height: 33%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 6%;
}

.home-phone-top p {
  font-family: 'Yeseva One', serif
}

.presentation-phone p {
  display: flex;
  flex-direction: column;
  color: var(--font-color);
  font-size: 12vw;
  margin: 0;
  line-height: 0.95;
}

.svg-container-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.svg-container-phone p {
  font-size: 3vw;
  width: 100%;
  margin: 0;
  padding: 3%;
  border: 0.5px black solid;
}

/* Middle */
.home-phone-middle {
  /* background-color: bisque; */
  height: 33%;
}

.home-phone-bottom {
  /* background-color: aqua; */
  height: 33%;
}
