.html,body {
  overflow: hidden;
}

.home-disposition {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  gap: 20%;
  background-color: aquamarine;
  height: 89vh;
  width: 100%;
  align-items: center;
}

.home-left {
  background-color: blue;
  height: 100%;
}

.home-center {
  background-color: red;
  height: 200px;
}

.home-right {
  background-color: cadetblue;
  height: 200px;
}
