

.home-home {
  height: 89vh;
  display: flex;
}


.home-left {
  /* background-color: darkgoldenrod; */
  display: flex;
  flex-direction: column;
  font-family: 'Yeseva One', serif;
  width: 50%;
  color: #1a1818;
  margin-top: 5%;
}

.photo-home {
  height: 50%;
  width: 60%;
  background-image: url('../assets/photos/moi_01.jpg');
  background-position: center;
  background-repeat: none;
  background-size: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
  /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
}

.home-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
  /* background-color: aquamarine; */
}


.presentation {
  line-height: 0.9;
  font-size: 5.9em;
  margin: 0;
}

.presentation p {
  margin: 0;
}

/* .presentation-content {
  display: flex;
  flex-direction: column;
  border: 1px solid #1a1818;
  text-align: justify;
  align-items: center;
} */

.presentation-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.svg-container {
  width: 100%;
  stroke: #414141;
  /* background-color: rgb(201, 136, 136); */
  text-align: justify;
  margin-top: 5%;
}

.svg-container p {
  padding: 2%;
  margin: 0;
  line-height: 1.2;
  /* background-color: red; */
}

.border-content {
  position: absolute;
  /* background-color: rgb(255, 255, 255); */
  width: 29.2%;
  height: 7.47%;
}

/* .presentation-content p {
  padding: 2%;
  margin: 0;
} */
