.topnav {
  width: 100%;
  height: 8vh;
  position: fixed;
  z-index: 600;
}

.navbar-portfolio {
  background-color: var(--background-color);
  /* background-color: blue; */
  /* display: flex; */
  /* width: 100%; */
  /* justify-content: center;
  align-items: center;
  text-align: center; */
  /* gap: 10%; */
  /* height: 8vh; */
}

.screen {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: aqua; */
  height: 8vh;
  gap: 10%;
}

.button-link {
  text-decoration: none;
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 5%;
  transition: .2s ease-in-out;
}

.button-link:hover {
  transform: scale(1.15);
  color: #000000;
}

.hamburger {
  /* background-color: aquamarine; */
  display: none;
}

@media (max-width: 420px) {
  .navbar-portfolio {
    background-color: transparent;
  }

  .screen {
    display: none;
  }

  .hamburger {
    display: flex;
    justify-content: end;
    padding: 20px;
    /* background-color: red; */
  }
}
