.margin-nav {
  /* margin-top: 3%; */
}

.centered-nav {
  /* background-color: aqua; */
  justify-content: center;
}

.disposition {
  /* background-color: red; */
  width: 50%;
  justify-content: space-between;
}


.topnav {
  background-color:brown;
  width: 100%;
  /* width: 100%; */
}
