.right-bar {
  top: 0;
  right: 0;
  width: 8vh;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  overflow: hidden;
  display: flex;
  text-align: center;
  gap: 7rem;
  height: 100%;
  z-index: 15;
  position: fixed;
  background-color: var(--background-color);
}
