.right-bar {
  display: none;
}

@media (max-width: 420px) {
  .right-bar {
    top: 0;
    right: 0;
    width: 4.6vh;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: fixed;
    overflow: hidden;
    display: flex;
    text-align: center;
    z-index: 802;
    height: 100%;
    position: fixed;
    background-color: rgb(236, 236, 235);
  }
}
